 <% if resource.errors[field].any? %>
    <div id="error_explanation" data-turbo-cache="false">
      <span class="text-sm text-red-500"><%= resource.errors[field].join "," %></span>
    </div>
  <% end %>
