<main class="p-10">
<h1 class="text-3xl my-5">New signature request</h1>

<%= render "form", signature_request: @signature_request %>

<br>

<div>
  <%= link_to "Back to signature requests", signature_requests_path %>
</div>
<main>
